.places * {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}
.places__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1280px) {
  .places__content {
    gap: 80px;
  }
  .places {
    margin-top: 92px;
  }
}
